emoji==2.13.2
memory-profiler==0.61.0
pandas==2.2.3
requests==2.32.3
google-api-core==2.20.0
google-auth==2.35.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
